*{
  margin: 0px;
  box-sizing: border-box;
 
}
#userdetail1,#userdetail2,#userdetail3,#userdetail4{ 
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 36px;
}
#address {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
  margin-bottom: 20px;
}
textarea#communicationaddresstextarea, #permanentAddresstextarea {
  width: 100%;
  resize: none;
  height: 100px;
}
div#submitbutton {
  display: flex;
  flex-direction: row-reverse;
}
button#submit {
  margin-left: 13px;
}
div#circle {
  width: 82px;
  height: 73px;
  border-radius: 50%;
  border: 1px solid;
}
div#image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img#ima {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 50%;
}
div#subcontainer1,div#subcontainer2 {
  padding: 16px 25px 0px 25px;
}
input[type="text" i] ,input[type="date" i],input[type="number" i],select{
  width: 100%;
  height: 25px;
}
div#pincode {
  width: 310px;
}
input#submit,input#cancel {
  border: none;
  background-color: forestgreen;
  padding: 10px;
  color: white;
}
div#checkbox {
  margin-bottom: 6px;
}
#label{
  margin-bottom: 3px;
}
span#symbol {
  color: red;
  margin-left: 3px;
}
div#errormsg {
  color: red;
  margin-top: 3px;
}
div#errormsg::first-letter{
  text-transform: uppercase;
}
#radiobut0,#radiobut1 {
  margin: 0px 9px;
}
input#checkboxtag {
  margin-right: 10PX;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input#cancel {
  margin-left: 10px;
}
#upplod1 {
  border: solid deepskyblue;
  background-color: white;
  border-radius: 10px;
  color: deepskyblue;
  padding: 9px;
  margin-right: 30px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 100%;
  margin-top: 20px;
}
th {
  background-color: chartreuse;
  padding: 5px;
}
td {
  text-align: center;
}
span#edit {
  margin-right: 3px;
  cursor: pointer;
  text-decoration: underline;
}
span#delete {
  margin-left: 3px;
  cursor: pointer;
  text-decoration: underline;
}