* {
  box-sizing: border-box;
}
body {
  background-color: darkgreen;
}
#cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cpu,#deck,#player{
  display:flex;
  justify-content: center;
}
.card {
  width: 116px;
  height: 178px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
}
.cardSub {
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.cardTop {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding-left: 5px;
}

.cardBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  margin-right: 5px;
}
.cardNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  border: solid white;
  text-align: center;
  font-size: 60px;
  border-radius: 100px 60px / 120px 60px;
  margin: 2px;
}
.cardBack {
  width: 116px;
  height: 178px;
  background-color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
}

.cardBackInner {
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cardBackNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  text-align: center;
  background-color: red;
  color:yellow;
  font-size: 35px;
  border-radius: 100px 60px / 120px 60px;
  margin: 2px;
}
#main {
  display: flex;
  background-color: aqua;
  padding: 30px;
  margin: 61px;
  top: 200px;
    width: 50%;
    left: 196px;
    padding: 10px;
    padding-left: 55px;
    position: absolute;
}
#green {
  width: 20%;
  height: 66px;
  background-color: green;
}
#red {
  width: 20%;
  height: 66px;
  background-color: red;
  margin-left: 10px;
}
#blue {
  width: 20%;
  height: 66px;
  background-color: blue;
  margin-left: 10px;
}
#yellow {
  width: 20%;
  height: 66px;
  background-color: yellow;
  margin-left: 10px;
}
button#but {
  padding: 18px;
  font-size: 18px;
  margin-top: 51px;
  margin-bottom: 75px;
  margin-left: 18px;
}
#name1,#name2 {
  font-size: 27px;
  padding: 5px;
}

#result{
  background-color: bisque;
    padding: 23px;
    position: absolute;
    top: 38%;
    width: 200px;
    left: 1%;
  }
#score1,#score2 {
  font-size: 20px;
  padding: 3px;
}
#detail {
  text-align: center;
  font-size: larger;
  color: aliceblue;
    font-size: 22px;
}
.cardSpecialInnerWild {
  height: 100%;
  border-radius: 5px;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-weight: bold;
}

.cardSpecialTopWild {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding-left: 5px;
  margin-top: 5px;
}

.cardSpecialBottomWild {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  transform: rotate(180deg);
  margin-right: 5px;
  margin-bottom: 5px;
}

.cardSpecialNumberWild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 160px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin: 2px;
  padding-left: 5px;
}

.cardSpecialColors1Wild {
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, blue, blue 100%),
  linear-gradient(135deg, green, green),
  linear-gradient(225deg, yellow, yellow),
  linear-gradient(225deg, red, red);
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
}

.cardSpecialColors2Wild {
  width: 90px;
  height: 90px;
  background: linear-gradient(45deg, blue, blue 100%),
    linear-gradient(135deg, green, green),
    linear-gradient(225deg, yellow, yellow),
    linear-gradient(225deg, red, red);
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
}
.cardInnerSpecialFourWild {
  height: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-weight: bold;
}

.cardNumberSpecialFourWild {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  margin: 2px;
}

.fourWildBox1 {
  height: 60px;
  width: 25px;
  background-color: red;
}
.fourWildBox2 {
  height: 60px;
  width: 25px;
  background-color:blue;
  margin-left: -5px;
}
.fourWildBox3 {
  height: 60px;
  width: 25px;
  background-color: green;
  margin-left: -5px;
}
.fourWildBox4 {
  height: 60px;
  width: 25px;
  background-color: yellow;
  margin-left: -5px;
}
.play{
  border-radius: 30px;
    padding: 11px;
    font-size: 18px;
    border: none;
    background-color: limegreen;
}
.keep{
  border-radius: 30px;
    padding: 11px;
    font-size: 18px;
    border: none;
    background-color: limegreen;
}
#keepplay{
  padding: 25px;
  position: absolute;
  top: 67%;
}








